/** ADD YOUR AWESOME CODES HERE **/

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating > input {
    display: none;
}

.rating > label {
    position: relative;
    width: 50px;
    font-size: 50px;
    color: #FFD600;
    cursor: pointer
}

.rating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important
}

.rating > input:checked ~ label:before {
    opacity: 1
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4
}

.menu-sort-btn {
    background-color: black;
    color: white;
    font-weight: 300;
    border-radius: 0 !important;
}

.menu-sort-btn:hover {
    background-color: #b0b435;
    border-radius: 0;
}

.cate-name > input {
    display: none;
}

.cate-name > label:hover {
    color: #b0b435;
    background-color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.active-menu{
  color: #b0b435!important;
  cursor: pointer;
}
